.alert {
    padding: 12px;
    margin: 12px 0;
    display: flex;
    align-items: center;

    .icon {
        width: 50px;
    }

    &.warning {
        background-color: $warningColorTrasparentized;
    }
    &.danger {
        background-color: $dangerColorTrasparentized;
    }
    &.success {
        background-color: $successColorTrasparentized;
    }

    .alert-content {
        padding: 12px;
    }
}