.btn {
    border: 1px solid #000000;
    display: inline-block;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    margin: 4px 0;
    
    &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
    
    &.primary {
        background-color: $primaryColor;
        color: $primaryTextColor;
    }

    &.secondary {
        background-color: $secondaryColor;
        color: $secondaryTextColor;
    }

    &.danger {
        background-color: $dangerColor;
    }

    &:hover:not(:disabled) {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    &.link {
        color: $primaryColor;
        text-decoration: underline;
        padding: 0;
        background-color: transparent;
        border: none;
    }

    &.small {
        font-size: 14px;
        vertical-align: middle;
        padding: 4px 8px;
    }
    
    &.checkbox {
        height: 20px;
        width: 20px;
        padding: 0;
        position: relative;
        margin-right: 8px;
    
        &.checkbox-active {
            background-color: $secondaryColor;
        }
        
        svg {
            width: 20px;
            height: 20px;
            left: 0;
            right: 0;
            position: absolute;
        }
    }
}
.btn-group-left {
    .btn {
        margin-right: 8px;
    }
}
.btn-group-right {
    .btn {
        margin-left: 8px;
    }
}