$primaryColor: #0000ff;
$primaryColorDark: #0000cc;
$primaryTextColor: #fff;
$secondaryColor: #12b6cb;
$secondaryTextColor: #000;

$warningColor: #ffea00;
$dangerColor: #ef6000;
$successColor: #00aa00;
$infoColor: #35fcff;
$warningColorTrasparentized: #ffea0050;
$infoColorTrasparentized: #35fcff50;
$dangerColorTrasparentized: #ef600050;
$successColorTrasparentized: #00aa0050;
$grayColor: #888;
$grayTextColor: #000;

.bg-primary {
  background-color: $primaryColor;
  color: $primaryTextColor;
}

.bg-secondary {
  background-color: $secondaryColor;
  color: $secondaryTextColor;
}

.bg-gray {
  background-color: $grayColor;
  color: $grayTextColor;
}