.container {
    width: 800px;
    padding: 24px;
    max-width: calc(100% - 48px);
    margin: 16px auto;
    box-shadow: 0 0 24px 3px #00000055;
    background-color: #fff;
    border: 1px solid #333;
    
    @media(max-width: 600px) {
        margin: 24px 0;
        width: 100%;
    }
}

.container.no-padding {
    max-width: 848px;
    width: 100%;
}

.table-responsive {
    overflow: auto;
    width: 100%;
}