.input-block {
    .text-input {
        border: none;
        border-bottom: 2px solid $primaryColor;
        outline: none;
        padding: 8px 16px;
        display: block;
        margin: 6px 0;
        max-width: calc(100% - 32px);
        width: 100%;
        &:focus {
            background-color: transparentize($color: $primaryColor, $amount: 0.9);
            
        }
    }
}

.input-select {
    max-width: calc(100% - 32px);
    width: 320px;
    position: relative;
    .select-box {
        display: none;
        margin-top: -6px;
        button {
            padding: 4px;
            border: none;
            width: 100%;
            display: block;
            &:hover {
                cursor: pointer;
                background-color: $primaryColor;
                color: $primaryTextColor;
            }
        }
    }
}