.input-block {
    display: table;
    width: 100%;

    .input-block-group {
        display: table-cell;
        vertical-align: bottom;
        text-align: right;
    }

    .text-input {
        display: table-cell;
        border: none;
        border-bottom: 2px solid $primaryColor;
        outline: none;
        padding: 8px 16px;
        display: block;
        margin: 6px 0;
        background-color: transparentize($color: $primaryColor, $amount: 0.9);
        max-width: calc(100% - 32px);
        width: 100%;

        &:focus {
            outline: 1px solid #333;
        }

        &:invalid {
            border-bottom: 2px solid $dangerColor;
            background-color: transparentize($color: $dangerColor, $amount: 0.9);
        }
    }
}

.input-select {
    max-width: calc(100% - 32px);
    position: relative;

    .select-box {
        width: 100%;
        z-index: 200;
        max-height: 320px;
        overflow: auto;
        margin-top: -6px;
        position: absolute;

        button {
            text-align: left;
            padding: 8px;
            border: none;
            width: 100%;
            display: block;

            &:hover {
                cursor: pointer;
                background-color: $primaryColor;
                color: $primaryTextColor;
            }
        }
    }
}