@import "Colors.scss";

header {

    background-color: $primaryColor;
    width: 100%;
    display: flex;
    user-select: none;

    .nav-left {
        height: 100%;
        display: flex;
        align-items: center;
        .header-main-sitename {
            align-items: center;
            color: $primaryTextColor;
            font-weight: bold;
            font-size: 36px;
            padding: 24px;
            vertical-align: middle;
            .small {
                font-size: 14px;
                display: block;
            }
        }

        .header-nav {
            align-items: center;
            clear: left;

            a {
                color: $primaryTextColor;
                text-decoration: none;
                display: inline-block;
                padding: 6px 12px;

                &:hover {
                    background-color: $primaryTextColor;
                    color: $primaryColorDark;
                }
            }
        }
    }

    .nav-rigth {
        margin-left: auto;
        padding: 0 24px;
        display: flex;
        align-items: center;

        .right-nav-btn {
            text-decoration: none;
            border: 1px solid $secondaryTextColor;
            background-color: $secondaryColor;
            color: $secondaryTextColor;
            padding: 7px 12px;
            font-weight: bold;
            font-size: 16px;
            display: inline-flex;
            align-items: center;
            
            span {
                margin: 0 4px;
            }

            &:hover {
                background-color: $secondaryTextColor;
                color: $secondaryColor;
                cursor: pointer;
            }

            
        }
    }



    &::after {
        content: '';
        display: block;
        clear: left;
    }

}