.rows {

    display: flex;
    .col {
        padding: 8px;
        width: calc(100% - 16px);
    }


}

.no-padding {
    padding: 0;
}

.p-1 {
    padding: 4px;
}
.p-2 {
    padding: 2px 12px;
}
.b-1 {
    border: 1px solid $primaryColor;
}
.d-table-cell {
    display: table-cell;
}
.m-1 {
    margin: 4px;
}
.m-2 {
    margin: 8px;
}
.mv-1 {
    margin-top: 4px;
    margin-bottom: 4px;
}
.mv-2 {
    margin-top: 8px;
    margin-bottom: 8px;
}

hr {
    height: 1px;
    border: 0;
    background-color: #000;
    margin-top: 8px;
    margin-bottom: 8px;
    display: block;
}